.error {
    color: red;
    font-size: 90%;
    font-style: italic;
}

.navbar-nav {
    flex-grow: 1;
}

.profile {
    flex-grow: 1;
    text-align: right;
}

.profile .dropdown-menu {
    right: 0;
    left: auto;
}

.user-title {
    text-align: center;
}